.vscode
settings.json

*.numerai*
.numerai/.terraform/plugins/linux_amd64/terraform-provider-aws_v2.43.0_x4

.terraform

NumeraiTrainEnv
numerai_dataset.zip

*.pyc*
__pycache__/model.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
__pycache__
.pytest_cache

.coverage

xgboost_prediction_model_kazutsugi
catboost_prediction_model_kazutsugi
lightgbm_prediction_model_kazutsugi
lstm_prediction_model_kazutsugi
bidirectional_lstm_prediction_model_kazutsugi
functional_lstm_prediction_model_kazutsugi
keras_lstm_model_trained_kazutsugi
keras_bidirectional_lstm_model_trained_kazutsugi
voting_regressor_prediction_model_kazutsugi

catboost_info

*.polyaxon

s3-key.json 

.DS_Store