*.vscode*
settings.json

*.numerai*
.numerai/.terraform/plugins/linux_amd64/terraform-provider-aws_v2.43.0_x4

.terraform

numerai_dataset.zip

*.pyc*
__pycache__/model.cpython-37.pyc
__pycache__/utils.cpython-37.pyc

model_trained_kazutsugi
lstm_model_trained
bidirectional_lstm_model_trained

